@{
    ViewBag.Title = "Account";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div ng-controller="AccountCtrl">
    <h1>{{message}}</h1>
</div>