@{
    ViewBag.Title = "USERS ACCOUNT INFO PAGE";
}

<div ng-controller="UserDetailsCtrl">
    <h1>{{message}}</h1>




    <div>
        <label>Name: </label><p>{{user.BaseUser.Name}}</p>
        <label>Username: </label><p>{{user.BaseUser.UserName}}</p>
        <label>Member Since: </label><p>{{user.createdMonth}}/{{user.createdDay}}/{{user.createdYear}}</p>
    </div>
</div>
