@{
    ViewBag.Title = "Active Devices";
}





    
            <h1>HELLO, LOGGED IN USER</h1>
            <div ng-controller="ActiveDevicesCtrl">
                <h3>{{message}}</h3>

                <input type="text" name="ChannelID" ng-model="currChannelId" />

                <div class="row">
                    <div class="col m4 offset-m2">
                        <button ng-click="startLog()">Start Log</button>
                        <button ng-click="stopLog()">Stop Log</button>
                    </div>
                </div>
                <div id="map">
                    <h3>Map Here</h3>
                </div>

            </div>

            
