@{
    ViewBag.Title = "Active Devices";
}


            
    <div>
       <div ng-controller="ActiveDevicesCtrl" class="col m4">
            <h3>Hello, {{user.BaseUser.Name}}</h3>
            <h5>{{message}}</h5>
            <input type="text" name="ChannelID" ng-model="currChannelId" />
             <div class="row">
                <div class="col m4 offset-m2">
                    <button ng-click="startLog()">Start Log</button>
                    <button ng-click="stopLog()">Stop Log</button>
                </div>
            </div>
            <div id="map">
            </div>
       </div>
   </div>

            
