@{
    ViewBag.Title = "All Routes Page";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


@*<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>*@

@*<style>
    #map_container {
        height: 200px;
        width: 100%;
    }


</style>*@

<div ng-controller="AllRoutesCtrl">
    @*<div ng-repeat="op in mapOptions">*@
        <div id="map_container">



        </div>

        @*<script>
            function initMap() {
                var mapDiv = document.getElementById('map');
                var map = new google.maps.Map(mapDiv, `{{op}}`);
            }
        </script>
    </div>*@
</div>


